@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-CondensedMedium.eot');
    src: url('fonts/Futura-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-CondensedMedium.woff2') format('woff2'),
        url('fonts/Futura-CondensedMedium.woff') format('woff'),
        url('fonts/Futura-CondensedMedium.ttf') format('truetype'),
        url('fonts/Futura-CondensedMedium.svg#Futura-CondensedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-CondensedExtraBold.eot');
    src: url('fonts/Futura-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-CondensedExtraBold.woff2') format('woff2'),
        url('fonts/Futura-CondensedExtraBold.woff') format('woff'),
        url('fonts/Futura-CondensedExtraBold.ttf') format('truetype'),
        url('fonts/Futura-CondensedExtraBold.svg#Futura-CondensedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-Medium.eot');
    src: url('fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-Medium.woff2') format('woff2'),
        url('fonts/Futura-Medium.woff') format('woff'),
        url('fonts/Futura-Medium.ttf') format('truetype'),
        url('fonts/Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-MediumItalic.eot');
    src: url('fonts/Futura-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-MediumItalic.woff2') format('woff2'),
        url('fonts/Futura-MediumItalic.woff') format('woff'),
        url('fonts/Futura-MediumItalic.ttf') format('truetype'),
        url('fonts/Futura-MediumItalic.svg#Futura-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura-Bold.eot');
    src: url('fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Futura-Bold.woff2') format('woff2'),
        url('fonts/Futura-Bold.woff') format('woff'),
        url('fonts/Futura-Bold.ttf') format('truetype'),
        url('fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

